.logo{
    width:12rem;
    height:auto;
}
.static{
    /* position: -webkit-sticky;   */
    position: sticky;
    top: 0px;
    width: 100%;
}

.centrar_h{
    text-align: center;
}

.contend_logo{
    text-align: center;
}

.column_5{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.barra_navegacion{
    width: auto;
    background-color: #5d6ecf;
    padding: 1rem;
    text-align: center;
}

.titulo_2{
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration:none;
    font-family:sans-serif;
}
.titulo_2:hover{
    color: black;
}

.btn{
    background-color: #3F51B5;
    color: white;
    border-color: transparent;
    font-size: 20px;
    font-weight: 400;
    font-family:sans-serif;
    padding: 1.2rem;
    border-radius: 15px;
    cursor: pointer;
}

.btn:hover{
    background-color: #5c6dcd;
    border-color: #3F51B5;
}
.margin_top{
    margin-top: 0.5rem
}



.fondo_imagen{
    width: auto;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 1, 0.513), rgba(0, 0, 1, 0.5)),
                 url("../images/foco.jpg");
    background-repeat: no-repeat;
    margin-top: 1rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.titulo{
    font-size: 8rem;
    font-weight: 700;
    color: white;
    font-family:sans-serif;
    text-align: center;
}

.titulo_3{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    font-family:sans-serif;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.content_main{
    background-color: #ceeb80ab;
}
.main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4rem;
}

.column_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.contenido{
width: 90%;
margin-left: auto;
margin-right: auto;
margin-bottom: 4rem;
text-align: center;
padding: 2rem;
border-radius: 15px;
}

.fondo_1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.546), rgba(0, 0, 0, 0.826)),
    url("../images/portada.jpg");
}

.fondo_2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.546), rgba(0, 0, 0, 0.826)),
    url("../images/team.jpg");
}

.titulo_4{
    width: 50%;
    font-size: 3rem;
    font-weight: 700;
    color: white;
    font-family:sans-serif;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.titulo_5{
    width: 80%;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    font-family:sans-serif;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    
}